.footer {
  
    position: relative;
}

.footer-subscription {
    position: absolute;
    height: 10rem;
    background-color: #FA7436;
    position: absolute;
    border: 0.1rem solid #FA7436;
    border-radius: 0.8rem;
    text-align: center;
    left: 0%;
    padding-top: 3rem;
    height: 25rem;
    right: 0%;
    width: 62%;

    margin: 0 auto;
}

.footer-subscription h2 {
    font-family: 'Volkhov',serif;
    font-size: 3.4rem;
    width: 56%;
    color: #ffffff;
    word-break: break-all;
    margin: auto;
    text-align: center;
}

.padding-div {
    display: flex;
    align-items: center;
    padding: 1rem 2.5rem;
    padding-right: 0.1rem;
    width: 42rem;
    margin: auto;
    margin-top: 5rem;
    border: 0.1rem solid black;
    background-color: #fefcfb;
    border-radius: 0.8rem;    
    border: none;
    position: relative;
}

.padding-div input {
    padding: 0.4rem 0rem;
    color: #222222;
    border: none;
    width: 50%;
    margin-right: 1rem;
    padding-left: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}   

.padding-div input:placeholder-shown {
    font-family: 'Poppins',sans-serif;
    font-size: 1.4rem;
}

.padding-div button {
    padding: 0.6rem 1rem;
    border-radius: 0.8rem;
    background-color: #FA7436;
    color: #ffffff;
    border: none;
}

.element-absolute {
    position: absolute;
    top: 1rem;
    mix-blend-mode:screen ;
    right: 0;
    color: #fefcfb;
    
}



.mail-icon {
    padding-right: 1rem;
}

.footer {
    height: 50rem;
}

.footer-links {
    background-color: #F7F8FC;
    height: 58rem;
    justify-content: center;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10rem;

}

.links {
    display: flex;
    border-bottom: 0.1rem solid #999999;
    padding-bottom: 4rem;
    /* gap: 3rem; */
    justify-content: center;
}

.links h3 {
    font-weight: 600;
    color: #222222;
}

.links h3 img {
    padding-left: 1rem;
}

.company-footer {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 5%;
}

.about {
    width: 60%;
}

.about p{
    word-break: break-all;
    font-size: 1.4rem;
    font-family: 'Poppins',sans-serif;
    color: #666666;
    width: 83%;
    word-wrap: break-word;
    padding-top: 2rem;
}

.icons img{
    width: 13rem;
}

.company-footer h3 {
    padding-bottom: 2rem;
}

.company-footer a {
    text-decoration: none;
    color: #666666;
    font-size: 1.6rem;
    width: 100%;
    font-family: 'Poppins',sans-serif;
}

.footer-legal {
    position: absolute;
    bottom: -13rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: #666666;
    display: flex;
    margin-left: auto;
}



/* Extra small devices (phones, 600px and down */
@media only screen and (max-width: 600px) {
    .footer-links {
        width: 100%;
        margin: auto;
    }
    
    .about h3 {
        font-size: 150%;
    }
    .about p {
        font-size: 100%;
        width: 12.4rem;
        padding-left: 3%;
    }
    .company-footer h3 {
        font-size: 150%;
    }
    .company-footer a {
        font-size: 100%;
        width: 100%;
    }
    .links {
        width: 90%;
    }
    .footer-subscription {
        width: 80%;
        margin: auto;
    }
    .footer-subscription h2 {
        font-size: 230%;
        /* width: 32rem; */
        width: 78%;
    }
    .element-absolute img{
        width: 70%;
    }
    .padding-div {
        width: 80%;
        height: 10%;
        position: relative;
        padding-right: 2rem;
    }
    .padding-div button {
        position: absolute;
        left: 60%;
    }
    .footer-legal p {
        font-size: 90%;
    }
}
/* Small devices (potrait tablets and large phone, 600px and up */
@media only screen and (min-width: 600px) {
    .footer-links {
        width: 94%;
        padding-left: 3%;
        padding-right: 3%;
    }
    .about {
        width: 100%;
        margin: auto;
        padding-left: 1%;
    }
    .about h3 {
        font-size: 180%;
    }
    .about p {
        font-size: 120%;
        padding-left: 3%;
        width: 15rem;
    }
    .company-footer {
        width: 80%;
        padding-left: 1%;
    }
    .company-footer h3 {
        font-size: 180%;
    }
    .company-footer a {
        font-size: 140%;
        width: 129%;
        padding-left: 3%;
    }
    .links {
        gap: 4%;
        width: 100%;
    }
    .footer-subscription {
        width: 80%;
        margin: auto;
    }
    .footer-subscription h2 {
        width: 40rem;
        font-size: 300%;
    }
    .padding-div button {
        margin-left: 15%;
    }
}
/* Medium devices (landscape tablets, 768px and up */
@media only screen and (min-width: 768px) {
    .footer-links {
        width: 94%;
        padding-left: 3%;
        padding-right: 3%;
    }
    .about {
        width: 100%;
    }
    .about h3 {
        font-size: 210%;
    }
    .about p {
        font-size: 150%;
        width: 21rem;
    }
    .company-footer h3{
        font-size: 210%;
    }
    .links {
        width: 85%;
    }

}
/* Large devices (Laptops/desktops, 992px and up */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up */
@media only screen and (min-width: 1200px) {
    
}