*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border-radius: border-box;
}

html {
  font-size: 62.5%;
}

image {
  max-width: 100%;
}

.fillButton {
  padding: 0.8rem 2.5rem;
  color: #fff;
  border: 0.1rem solid #FA7436;
  background-color: #FA7436;
  box-shadow: 0 0.8rem 1.6rem rgba(250, 116, 54, 0.16);
  border-radius: 0.3rem;
}

.outlineButton {
  padding: 0.6rem 1rem;
  color: #FA7436;
  border: 0.1rem solid #FA7436;
  background-color: #fff;
  border-radius: 0.3rem;
}

.noBorder {
  padding: 0.8rem 2.5rem;
  color: #FA7436;
  border: none;
  background-color: #FEFCFB;
}
/* 
font-family: 'Poppins', sans-serif;
font-family: 'Volkhov', serif; */